---
name: ci

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v5

    - name: setup
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'

    - name: lint
      uses: golangci/golangci-lint-action@v9

    - name: test
      run: go test -v ./...

    - name: build
      run: go build -v ./...
